# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# C extensions
*.so

# Unit test / coverage reports
.cache

# User workspace
workspace/

# SGE jobs
*.sge

**/MNIST/*
**/wandb/*
**/full_datasets/*
settings.json
